<html>
    <head>
        <title>Myjunoon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/css/modnav.css">
        <link rel="stylesheet" href="/css/modlogin.css">
    </head>

    <body>
            <!-- Site content !-->
              <!--Top Nav-->
              <div class="ui fixed inverted menu">
                <a class=" item">
                </a>
                
                <img  src="/images/logomin.png" height="40px" alt="logo">

                <a class="item  right">
                </a>
              
               </div> 

               <br><br>
               
               <div class="ui raised very padded text inverted container segment">
                 <% if (errormessage) {%>
                  <div class="ui top red attached label" align="center" ><%= errormessage %></div>
                <% } %>
                <form class="ui inverted form" method="POST" action="/login">
                    <div class="field">
                      <label>Email</label>
                      <input type="text" name="username" placeholder="Email">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password">
                    </div>
               
                    <button class="ui red button" type="submit">Login</button>
                  </form>

                  <br><hr>
                  <p>Don't have an account?</p>
                  <a class="ui blue button" href="/register">Signup Now!</a>
                  <br><br>
                  <p>OR</p>
                  <a class="ui purple button">Login As Guest!</a>
               </div>
            

   
      <br><br><br><br><br>
      <script src="/js/jquery-3.4.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" ></script>
    </body>
</html>