<html>
    <head>
        <title>Myjunoon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/css/modnav.css">
        <link rel="stylesheet" href="/css/modlogin.css">
    </head>

    <body>
            <!-- Site content !-->
              <!--Top Nav-->
              <div class="ui fixed inverted menu">
                <a class=" item">
                </a>
                
                <img  src="/images/logomin.png" height="40px" alt="logo">

                <a class="item  right">
                </a>
              
               </div> 

               <br><br>
               <div class="ui raised very padded text inverted container segment">
                <form class="ui inverted form">
                    <div class="field">
                      <label>First Name</label>
                      <input type="text" name="first-name" placeholder="First Name">
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                        <input type="text" name="last-name" placeholder="Last Name">
                      </div>
                    <div class="field">
                      <label>Email</label>
                      <input type="text" name="email" placeholder="Email">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password">
                    </div>
               
                    <button class="ui red button" type="submit">Register</button>
                  </form>

                  <br><hr>
                  <p>Alredy have an account?</p>
                  <a class="ui blue button" href="/login">Login Insted!</a>
               </div>
            

   
      <br><br><br><br><br>
      <script src="/js/jquery-3.4.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" ></script>
    </body>
</html>