.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {
    height: 35px;
    width: 35px;
}

.maindish {
	width:100%;
	height:100%;
	background-color:#1b1c1d;
}

.maindish img {
	width:200px;
}